.box {
    width: 100%;
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .inputContainer {
        display: flex;
        align-items: center;
        background-color: #1b1b1d;
        border-radius: 30px;
        padding: 15px 25px;
        width: 100%;
        margin: 0 auto;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        color: #9e9e9e;
        transition: border 0.2s ease-in-out;

        .icon {
            margin-right: 10px;
            width: 15px;
            height: 20px;
            color: #019BE9;
        }

        .inputField {
            width: 100%;
            border: none;
            background-color: transparent;
            color: #e0e0e0;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            outline: none;

            &::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }

            &:-webkit-autofill,
            input:-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 0px 1000px #1b1b1d inset; // 设置背景色
                -webkit-text-fill-color: #e0e0e0; // 设置字体颜色
                transition: background-color 5000s ease-in-out 0s; // 避免动画闪烁
            }


        }

        &.invalid {
            border: 1px solid rgba(255, 77, 79, 0.6);
        }

        &.disabled {
            background-color: #2a2a2a;
            color: #7a7a7a;

            .inputField {
                color: #7a7a7a;
                cursor: not-allowed;
            }

            .icon {
                color: #7a7a7a;
            }
        }

        &.shake {
            animation: shake 0.5s;
        }
    }

    .errorText {
        width: 100%;
        text-align: right;
        color: #ff4d4f;
        font-size: 12px;
        min-height: 16px; // 固定错误信息的高度，确保布局不会突然移动
    }

    @keyframes shake {

        0%,
        100% {
            transform: translateX(0);
        }

        20%,
        60% {
            transform: translateX(-10px);
        }

        40%,
        80% {
            transform: translateX(10px);
        }
    }
}