.tasksCard {
    position: relative;
    width: 100%;
    max-width: clamp(300px, 100vw, 600px);
    padding: clamp(1rem, 2vw, 1.5rem);
    margin: clamp(1.25rem, 2vw, 2rem) auto;
    background-color: rgba(62, 67, 92, 0.5);

    border-radius: 0.875rem;
    border: 0.0625rem solid transparent;
    box-shadow: 0 0 0 0.0625rem transparent;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.875rem;
        padding: 0.0375rem;

        background: linear-gradient(129.33deg, #FFFFFF 4.73%, rgba(255, 255, 255, 0.0001) 24.67%, rgba(255, 255, 255, 0.0001) 83.36%, #FFFFFF 95.41%);
        opacity: 0.5;
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        z-index: -1;
    }

    .tasksHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(0.25rem, 1vw, 0.3125rem);

        font-size: clamp(1rem, 2vw, 1.125rem);
        font-weight: 700;
    }

    .taskName {
        margin: clamp(0.75rem, 2vw, 1rem) 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: clamp(0.25rem, 1vw, 0.375rem);

        font-size: clamp(0.875rem, 1.5vw, 1rem);
        font-weight: 400;
    }

    .taskItem {
        padding: clamp(0.5rem, 1.5vw, 1rem) clamp(0.625rem, 1.5vw, 1rem);
        background-color: #3A4362;
        border-radius: 0.875rem;

        font-size: clamp(0.75rem, 1.5vw, 0.875rem);
        font-weight: 400;
        text-align: left;

        display: flex;
        flex-direction: column;
        gap: clamp(0.625rem, 1.5vw, 0.75rem);

        .itemTitle {
            display: flex;
            align-items: center;

            img {
                width: clamp(1rem, 2vw, 1.25rem);
                height: clamp(1rem, 2vw, 1.25rem);
                margin-right: clamp(0.5rem, 1vw, 0.625rem);
            }
        }

        & div:nth-last-child(1) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: clamp(0.5rem, 1vw, 0.625rem);

            img {
                width: clamp(1rem, 2vw, 1.25rem);
                height: clamp(1rem, 2vw, 1.25rem);
            }
        }
    }

    .box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(0.5rem, 1vw, 0.625rem);

        .submitButton {
            width: 100%;
            padding: 0.8rem;
            background-color: #4caf50; // Green submit button
            color: #fff;
            font-weight: 600;
            border: none;
            border-radius: .5rem;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #388e3c; // Darker green on hover
            }
        }
    }
}