.header {
  background-color: var(--header-bg-color);
  padding: 20px;
  color: var(--text-title-description-color);

  &content {
    max-width: 800px;
    margin: 0 auto;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;

    color: #09090b;
  }

  p {
    font-size: 1.25rem;
  }
}
