.message {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    pointer-events: auto;
    max-width: 300px;
    min-width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;

    @media (min-width: 576px) {
        font-size: 16px;
        max-width: 350px;
    }

    @media (min-width: 768px) {
        font-size: 18px;
        max-width: 400px;
    }

    &.success {
        background-color: #28a745cc;
    }

    &.error {
        background-color: #dc3545cc;
    }

    &.warn {
        background-color: #ffc107cc;
        color: #000;
    }

    &.info {
        background-color: rgba(23, 162, 184, 0.8);
    }
}

.content {
    font-size: inherit;
}

.progress {
    height: 4px;
    background-color: currentColor;
    margin-top: 8px;
    border-radius: 2px;
    transition: width 0.3s linear;
}