// 主色调
$primary-color: #58a6ff;
// 次色调
$secondary-color: #1f6feb;
// 成功色调
$success-color: #56d364;
// 危险色调
$danger-color: #f85149;
// 警告色调
$warning-color: #d29922;
// 信息色调
$info-color: #3b82f6;
// 浅色调
$light-color: #0d1117;
// 深色调
$dark-color: #c9d1d9;
// 背景色
$background-color: #010409;
// 前景色
$foreground-color: #c9d1d9;
// 边框色
$border-color: #30363d;
// 灰色文本色
$text-gray: #8b949e;
// 渐变开始色
$primary-gradient-start: #58a6ff;
// 渐变结束色
$primary-gradient-end: #1f6feb;
// 次渐变开始色
$secondary-gradient-start: #1f6feb;
// 次渐变结束色
$secondary-gradient-end: #58a6ff;

// 新增颜色变量
$highlight-color: #ffeb3b; // 高亮色
$shadow-color: rgba(0, 0, 0, 0.2); // 阴影色
$muted-color: #6c757d; // 淡化色

// 链接颜色
$link-color: #007bff; // 链接色
$link-hover-color: #0056b3; // 链接悬停色
$link-active-color: #0056b3; // 链接激活色
$link-visited-color: #4a90e2; // 链接访问色

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --success-color: #{$success-color};
  --danger-color: #{$danger-color};
  --warning-color: #{$warning-color};
  --info-color: #{$info-color};
  --light-color: #{$light-color};
  --dark-color: #{$dark-color};
  --background-color: #{$background-color};
  --foreground-color: #{$foreground-color};
  --border-color: #{$border-color};
  --text-gray: #{$text-gray};
  --primary-gradient-start: #{$primary-gradient-start};
  --primary-gradient-end: #{$primary-gradient-end};
  --secondary-gradient-start: #{$secondary-gradient-start};
  --secondary-gradient-end: #{$secondary-gradient-end};
  --highlight-color: #{$highlight-color};
  --shadow-color: #{$shadow-color};
  --muted-color: #{$muted-color};
  --link-color: #{$link-color};
  --link-hover-color: #{$link-hover-color};
  --link-active-color: #{$link-active-color};
  --link-visited-color: #{$link-visited-color};
}
