:root {
  // 全局颜色变量
  --primary-color: #667eea; // 主色
  --secondary-color: #42e695; // 次色
  --success-color: #28a745; // 成功色
  --danger-color: #dc3545; // 危险色
  --warning-color: #ffc107; // 警告色
  --info-color: #17a2b8; // 信息色

  --light-color: #f8f9fa; // 浅色
  --dark-color: #1a202c; // 深色

  --background-color: #ffffff; // 背景色
  --foreground-color: #1a202c; // 前景色

  --border-color: #e1e1e1; // 边框色

  --header-bg-color: hsl(240 5.9% 10%); // 头部背景色
  --text-title-color: #fff; // 标题文本颜色
  --text-title-description-color: #f8f9fa; // 标题描述文本颜色
  --text-color: #333; // 文本颜色
  --text-gray: #6c757d; // 灰色文本

  --primary-gradient-start: #6a11cb; // 主渐变起始色
  --primary-gradient-end: #2575fc; // 主渐变结束色
  --secondary-gradient-start: #42e695; // 次渐变起始色
  --secondary-gradient-end: #3bb2b8; // 次渐变结束色

  --highlight-color: #ffeb3b; // 高亮色
  --shadow-color: rgba(0, 0, 0, 0.2); // 阴影色
  --muted-color: #6c757d; // 淡化色
  --link-color: #007bff; // 链接色

  --link-hover-color: #0056b3; // 链接悬停色
  --link-active-color: #0056b3; // 链接激活色
  --link-visited-color: #4a90e2; // 链接访问色

  // 元素颜色变量
  --card-bg-color: #ffffff; // 卡片背景色
  --card-foreground-color: #1a202c; // 卡片前景色
  --card-bg-color-content: #f8f9fa; // 卡片内容背景色
  --card-border-color: #e1e1e1; // 卡片边框色

  // 浮动层颜色变量
  --popover-bg-color: #ffffff; // 浮动层背景色
  --popover-foreground-color: #1a202c; // 浮动层前景色

  // 按钮颜色变量
  --btn-bg-color-hover: darken(#667eea, 10%); // 按钮悬停背景色
  --btn-bg-color-active: darken(#667eea, 20%); // 按钮激活背景色

  // 头像颜色变量
  --avatar-bg-color-info: #17a2b8; // 头像信息背景色
  --avatar-bg-color-success: #28a745; // 头像成功背景色
  --avatar-bg-color-danger: #dc3545; // 头像危险背景色
  --avatar-bg-color-warning: #ffc107; // 头像警告背景色

  // 其他变量
  --radius: 0.5rem; // 圆角半径
}
